# Ignore all
/.idea/
/__pycache__/
/share/
/Scripts/
/Lib/
/pyvenv.cfg
/Videos/
/OutputVideos/
/annotated_test_images/
/TF_Models/
/junkfolder/
/YoloFormatData/
!*.csv

# What not to ignore
!* .py
!* .ipynb